body {
  font-size: 10pt;
  font-family: "Libre Franklin", sans-serif;
}
.upperLeftMargin {
  string-set: upperLeft content();
  text-decoration: uppercase;
  display: none;
}
.upperRightMargin {
  string-set: upperRight content();
  text-decoration: uppercase;
  display: none;
}
.explanation {
  counter-reset: page;
}

@media print {
  .pagedjs_margin-content {
    white-space: nowrap;
  }
  .subjectTitle {
    page-break-before: always;
  }
  .studentContainer {
    margin-top: 0.25in !important;
    min-height: 900px !important;
  }
  .studentContainer:not(:first-of-type) {
    page-break-before: always;
  }
  .studentContainer:not(:last-of-type) {
    page-break-after: always;
  }
  @page {
    size: A4;
    @bottom-center {
      content: counter(page);
      border-top: 2pt solid rgba(0, 0, 0, 0.4);
      vertical-align: top;
      padding: 5px;
    }
    @top-left {
      content: string(upperLeft);

      white-space: nowrap;
      overflow-x: visible;
      font-size: 9pt;
      font-weight: 400;
      border-bottom: 2pt solid #f54530;
      vertical-align: bottom;
    }

    @top-right {
      content: "WINTER 2019-2020";
      overflow-x: visible;
      font-size: 9pt;
      font-weight: 400;
      border-bottom: 2pt solid #f54530;
      vertical-align: bottom;
    }
  }
}
@media screen {
  body {
    background-color: whitesmoke;
  }
  .pagedjs_page {
    background-color: #fdfdfd;
    margin: 10px auto;
    flex: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
}
